<!-- Header -->
<header class="bg-primary text-center py-5 mb-4">
  <div class="container">
    <h1 class="font-weight-light text-white">About</h1>
  </div>
</header>

<!-- Page Content -->

<!-- /.container -->