<!-- Header -->
<header class="bg-secondary text-center py-5 mb-4">
  <div class="container">
    <h1 class="font-weight-light text-white">About</h1>
    <p class="font-weight-light text-white">code</p>
  </div>
</header>

<!-- Page Content -->

<!-- /.container -->