<!-- Page Content -->
    <!-- Page Content -->
    <div class="container text-center mt-4">
        <div class="row">
            <div class="col-md-12"></div>
        </div>
      <div class="row">
        <div class="col-md-3"></div>
        <!-- Text input -->
        <div class="col-md-6">
            <label for="inputtext"> Day 1 </label>
            <textarea class="textarea form-control" name="inputtext" id="inputtext" rows="10" cols="50" placeholder="Code"></textarea>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <p class="answer-field" style="display: none;">Answer: <input type="text" id="day1answer" value="" disabled></p>
          </div>
          <div class="col-md-4"></div>
      </div>
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" id="submitBtn">Submit</button>
        </div>
        <div class="col-md-5"></div>
      </div>
    </div>
    <!-- /.container -->
<!-- /.container -->